{% extends "layout.html" %}

{% block title %} VAT-ID Validator {% endblock %}

{% block body %}

    <div id="input-area" class="mt-4 mx-auto">
        <form action="/" method="post">
            <div class="row">
                <div class="col">
                    <textarea name="vat_ids" class="form-control" rows="12" autofocus placeholder="Enter VAT-IDs"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 d-grid justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary">Validate VAT-IDs</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}